<style>
img{
    width:300px;
    height:300px;
}

</style>


<br><br>
   

<div class="album py-5 bg-light">
        <div class="container">
        <div class="row">
 <% @movies.each do |m| %> 
          
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img src="<%= m.attachment %>" class="card-img-top"  alt="Card image cap">
                <div class="card-body">
                  <p class="card-text"><b>Title:</b><%= m.title %><br>
                  <b>category:</b><%= m.category %><br>
                  <b>Year:</b><%= m.year %><br>
                  <b>price:</b><%= m.price %></p>
                  
                  <b><u><%= link_to "Watch movie", m.attachment_url %></b></u>
                  <b><u><%= link_to "Delete",  m, method: :delete, confirm: "Are you sure you want to delete #{m.attachment}?" %>
                  </b></u>
                 
                  </div>
                </div>
              </div>
              <% end %> 
            </div>
            <footer class="pt-4 my-md-5 pt-md-5 border-top bg-dark">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
        <small class="d-block mb-3 text-muted">&copy; 2017-2019</small>
      </div>
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Cool stuff</a></li>
          <li><a class="text-muted" href="#">Random feature</a></li>
          <li><a class="text-muted" href="#">Team feature</a></li>
          <li><a class="text-muted" href="#">Stuff for developers</a></li>
          <li><a class="text-muted" href="#">Another one</a></li>
         
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Resource</a></li>
          <li><a class="text-muted" href="#">Resource names</a></li>
          <li><a class="text-muted" href="#">other resource</a></li>
          <li><a class="text-muted" href="#"> Related resources</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Team</a></li>
          <li><a class="text-muted" href="#">Locations</a></li>
          <li><a class="text-muted" href="#">Privacy</a></li>
          <li><a class="text-muted" href="#">Terms</a></li>
        </ul>
      </div>
    </div>
  </footer>


            