
<br><br><br><br>
 <h1>Apload Movie</h1> 
<%= form_for @movies, html: { multipart: true } do |f| %>   
    <%= f.label :title %>   
    <%= f.text_field :title %> 
    <br><br>
     <%= f.label :category %>   
    <%= f.text_field :category %>
    <br><br>
    <%= f.label :year %>   
    <%= f.text_field :year %>
    <br><br>
    <%= f.label :price %>   
    <%= f.text_field :price %>  
    <br><br>   
    <%= f.label :attachment %>   
    <%= f.file_field :attachment %>   
    <br>   
    <%= f.submit "Save",class: "btn btn-primary" %>   
 <% end %>   
 <%= link_to  "back to home", root_path %>
<footer class="pt-4 my-md-5 pt-md-5 border-top bg-dark">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
        <small class="d-block mb-3 text-muted">&copy; 2017-2019</small>
      </div>
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Cool stuff</a></li>
          <li><a class="text-muted" href="#">Random feature</a></li>
          <li><a class="text-muted" href="#">Team feature</a></li>
          <li><a class="text-muted" href="#">Stuff for developers</a></li>
          <li><a class="text-muted" href="#">Another one</a></li>
         
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Resource</a></li>
          <li><a class="text-muted" href="#">Resource names</a></li>
          <li><a class="text-muted" href="#">other resource</a></li>
          <li><a class="text-muted" href="#"> Related resources</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Team</a></li>
          <li><a class="text-muted" href="#">Locations</a></li>
          <li><a class="text-muted" href="#">Privacy</a></li>
          <li><a class="text-muted" href="#">Terms</a></li>
        </ul>
      </div>
    </div>
  </footer>